# Ignore SCM
.git*

# IDEs and other editors
.editorconfig
*.swp
.vscode
.idea/
*.iml
node_modules
.kdev4/
*.kdev4
*debug.log

# build output
.js*

# Docker files
docker-compose*.yml

# GitHub
.github/

# Jenkins
Jenkisfile

# Custom files
.docker/
